@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


*{

    margin: 0px;
    list-style: none;
}

a{

    text-decoration: none;
    color: black;
}

body{

  min-height: 100vh;
  display: block;
  overflow-x: hidden;
}


/* start of the navBar */
.navBar{

   background-color: rgba(128, 128, 128, 0.5);

   height: 115px;
   width: 100vw;

   display: grid;
   grid-template-areas: "a b";
   grid-template-columns: 2fr 2fr;
}

.logoAreaLeft{

  grid-area: a;
  font-family: 'Hind', sans-serif;

  align-items: center;
  
}
.logoCont{
  /* background-color: blanchedalmond; */

  position: relative;
  height: 100%;
  padding-left: 50px;
  color: white;
}
.logoCont .logo{

  font-family: 'Dosis', sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  padding: 3px 10px;

  font-size: 0.9rem;
  font-weight: 700px;
   
}
.navBar .navAreaRight{

  display: flex;
  grid-area: b;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;

  color: rgba(0, 0, 0, 0.5);
}

.navAreaRight ul{

  display: flex;
 
  margin: auto;
  align-items: center;

  height: 100%;
}

.navAreaRight ul li{

  margin-right: 23px;
  padding: 19px;
  align-items: center;
  cursor: pointer;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.navAreaRight ul li:hover{

  background-color: rgb(173, 172, 172);
  color: white;

}

/* end of the navBar area */

/* the filter bar */
.filterBar{

  height: 50px;
  background-color:  rgba(128, 128, 128, 0.5);
  width: 100%;
  

  border-top: black 1px solid;
  position: sticky;
  top: 0px;
  z-index: 50;
  display: grid;

  
}
.filterBar p{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-family: 'Hind', sans-serif;
  background-color: black;
  color: white;
  padding: 1px 6px;
  font-size: 0.9rem;
}

/* start of the maincontent area */
.mainContentArea{
  padding-left: 2%;
  margin-top: 50px;

}
.mainContentArea h2{

  font-family: 'Hind', sans-serif;

}
.cardContainer{
  width: 95%;
  background-color: rgba(128, 128, 128, 0.5);

  border-radius: 5px;

  /* grid design */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 5px;
  padding: 12px;

}

.card{
  
  background-color: honeydew;

  filter: drop-shadow(1px 2px 5px);

  display: grid;
  grid-template-rows: 60% 40%;
  height: 400px;
}
.card .imageCarouselArea{

  background-color: gray;
  position: relative;
  z-index: 0;
}



.imagesArea{

  height: 100%;
  width: 100%;
}
.imagesArea img{

  width: 100%;
  height: 100%;
  object-fit: cover;
}


.descriptionArea{
  padding: 20px;
  font-family: monospace;
}

.descriptionArea .cardTitle{

  margin: 10px 0px;
}

.cardLocationSection{

  display: grid;
  grid-template-areas: "a b c ";
}
.cardNoOfBedrooms{

  margin: 10px 0px;
}

/* house Info div */

.houseInfoDiv{

  position: fixed;
  background-color: white;

  z-index: 80;
  top: 2vh;
  bottom: 2vh;
  left: 1vw;
  right: 1vw;

  display: grid;
  grid-template-areas: "a"
                       "b";
  grid-template-rows: 7% 93%;
  display: none;

}
.houseTopBar{

  grid-area: a;
  display: grid;
  position: relative;
}
.houseTopBar .closeHouseBtn{

  height: 100%;
  width: 50px;
  position: absolute;
  right: 10px;
  display: grid;
  opacity: 0.4;
  place-content: center;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}
.closeHouseBtn img{

  height: 30px;
}
.closeHouseBtn:hover{

  opacity: 1;
  transform: scale(0.7);
}
/* end of the house info div */



/* end of the main content area  */
