{% extends 'index.html' %}
{% load static %}
{%block content%}

<!-- the start of the navbar area of the webppage -->
<!-- the navbar is floating -->
<div class="navBar">
    <ul>
        <li>home</li>
        <li>best offers</li>
    </ul>
</div>
<!-- end of navbar -->

<!-- top part of the main content  -->
<div class="contentTop">
    <div class="logoContainer">
        <img class="logo" src="{% static 'icons/realLogo.png'%}" alt="">
    </div>
    <div class="accountDiv">
        <div class="userAccBtn">
            <img class="userProfilePhoto" src="{% static 'icons/icons8-user-90.png'%}" alt="">
            <p class="userName">guest</p>
        </div>
    </div>

</div>
<!-- end of the top part of the maincontent  -->


<!-- this is the main content of the website -->
<div class="main-content-area">

    <div class="horizontalSeperator"></div>

    <div class="contentContainer">
        <h4>Filters :</h4>
        <div class="filtersBar">
            <!-- the select box -->
            <div class="select">
                <select name="slct" id="slct">
                    <option selected disabled>Location</option>
                    <option value="1">Mombasa</option>
                    <option value="2">Nairobi</option>
                    <option value="3">Kisumu</option>
                    <option value="4">none</option>
                </select>
            </div>
            <!-- the select box -->
            <div class="select">
                <select name="slct" id="slct">
                    <option selected disabled>Price</option>
                    <option value="1">High-Low</option>
                    <option value="2">Low-High</option>
                    <option value="3">Offer</option>
                    <option value="4">none</option>
                </select>
            </div>

            <!-- the select box -->
            <div class="select">
                <select name="slct" id="slct">
                    <option selected disabled>Size</option>
                    <option value="1">5 bedroom</option>
                    <option value="2">2 bedroom</option>
                    <option value="3">singles</option>
                    <option value="4">3 bedroom</option>
                    <option value="5">none</none>
                </select>
            </div>

            <!-- the select box -->
            <div class="select">
                <select name="slct" id="slct">
                    <option selected disabled>Rating</option>
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low</option>
                    <option value="4">none</option>
                </select>
            </div>

        </div>
        <!-- end of the filters bar -->

        <!-- start of the card container -->


        <div class="row">
             {% for rental in rentals %}
            <! add some cards here showing one picture(main_image) location, size,rent and and a button to detail view>
           <! also add detailview to display description,all images,rent,location and size>
            {% endfor %}
        </div>



        <!-- end of the cards container -->

    </div>
</div>
<!-- end of the main content area of the website -->


<!-- start of the footer area  -->
<div class="footer">

</div>
<!-- end of the footer area -->

{% endblock %}