{% extends 'index.html' %}
{% load static %}
{%block styles%}<link rel="stylesheet" href="{% static 'javascript/houseinfodiv.js'%}">{%endblock%}

{% block filter%}
    <h4>Filters :</h4>
           <div class="filtersBar">
            <!-- the select box -->
                <div class="select">
                <select name="slct" id="slct">
                    <option selected disabled>Location</option>
                    <option value="1">Mombasa</option>
                    <option value="2">Nairobi</option>
                    <option value="3">Kisumu</option>
                    <option value="4">none</option>
                </select>
                </div>
                 <!-- the select box -->
                 <div class="select">
                    <select name="slct" id="slct">
                        <option selected disabled>Price</option>
                        <option value="1">High-Low</option>
                        <option value="2">Low-High</option>
                        <option value="3">Offer</option>
                        <option value="4">none</option>
                    </select>
                    </div>

                     <!-- the select box -->
                <div class="select">
                    <select name="slct" id="slct">
                        <option selected disabled>Size</option>
                        <option value="1">5 bedroom</option>
                        <option value="2">2 bedroom</option>
                        <option value="3">singles</option>
                        <option value="4">3 bedroom</option>
                        <option value="5">none</none>
                    </select>
                    </div>

                     <!-- the select box -->
                <div class="select">
                    <select name="slct" id="slct">
                        <option selected disabled>Rating</option>
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="3">Low</option>
                        <option value="4">none</option>
                    </select>
                    </div>

           </div>

{% endblock %}
{% block content%}
<div class="mainContentArea">
        <h2>Houses for rent</h2>
        <div class="cardContainer">
        <!-- start of the card  -->
         <div class="card">
            <div class="imageCarouselArea">
                <div class="imagesArea">
                   <img src="/phonecallcolls.png" alt="">
                </div>

            </div>
            <div class="descriptionArea">
                <h2 class="cardTitle">Apartments</h2>
                <div class="cardLocationSection">
                    <p class="loc1">AirwaysRoad</p>
                    <p class="loc2">Utawala</p>
                    <p class="loc3">Nairobi</p>
                </div>
                <p class="cardNoOfBedrooms">
                    4 bedrooms
                </p>
                <p class="cardPrice">
                    Kshs 33000
                </p>

            </div>
        </div>
        <!-- end of the card -->

        <!-- start of the card  -->
        <div class="card">
            <div class="imageCarouselArea">
                <div class="imagesArea">
                   <img src="/phonecallcolls.png" alt="">
                </div>

            </div>
            <div class="descriptionArea">
                <h2 class="cardTitle">Apartments</h2>
                <div class="cardLocationSection">
                    <p class="loc1">AirwaysRoad</p>
                    <p class="loc2">Utawala</p>
                    <p class="loc3">Nairobi</p>
                </div>
                <p class="cardNoOfBedrooms">
                    4 bedrooms
                </p>
                <p class="cardPrice">
                    Kshs 33000
                </p>

            </div>
        </div>
        <!-- end of the card -->

        <!-- start of the card  -->
        <div class="card">
            <div class="imageCarouselArea">
                <div class="imagesArea">
                   <img src="/phonecallcolls.png" alt="">
                </div>

            </div>
            <div class="descriptionArea">
                <h2 class="cardTitle">Apartments</h2>
                <div class="cardLocationSection">
                    <p class="loc1">AirwaysRoad</p>
                    <p class="loc2">Utawala</p>
                    <p class="loc3">Nairobi</p>
                </div>
                <p class="cardNoOfBedrooms">
                    4 bedrooms
                </p>
                <p class="cardPrice">
                    Kshs 33000
                </p>

            </div>

             </div><!-- end of the card -->
        </div> <!-- end of the card container area -->

        <!-- start of the house Info div -->

        <div class="houseInfoDiv">
            <div class="houseTopBar">
                <div class="closeHouseBtn">
                    <img src="https://img.icons8.com/metro/52/000000/close-window.png"/>
                </div>
            </div>
            <div class="houseInfoMain">

            </div>
        </div>
        <!-- end of the house info div -->


    </div>
{%endblock content%}