{% extends 'index.html' %}
{% load static %}



{%block content%}
<div class="float-left-area">
    <div class="inner-left">
        <article>
            <div class="media-body">
                <img src="{{object.images.url }}"  alt="" class="src" >
                <h4>{{object.size}}</h4>
                <p>{{object.rent}}</p>
                <p>{{ object.description }}</p>

            </div>

        </article>

    </div>
</div>

<div class="float-right-area">
    <div class="inner-right">

        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}