{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realEstate</title>
    <link rel="stylesheet" href="{% static 'styles/mainStyle.css'%}">
</head>
<body>
<!-- the start of the navbar area of the webppage -->
<!-- the navbar is floating -->
<div class="navBar">
    <ul>
        <li>home</li>
        <li>best offers</li>
    </ul>
</div>
<!-- end of navbar -->

<!-- top part of the main content  -->
<div class="contentTop">
    <div class="logoContainer">
        <img class="logo" src="{% static 'icons/realLogo.png'%}" alt="">
    </div>
    <div class="accountDiv">
        <div class="userAccBtn">
            <img class="userProfilePhoto" src="{% static 'icons/icons8-user-90.png' %}" alt="">
            <p class="userName">guest</p>
        </div>
    </div>

</div>
<!-- end of the top part of the maincontent  -->


<!-- this is the main content of the website -->
<div class="main-content-area">

    <div class="horizontalSeperator"></div>

    {% block filter %}
    {% endblock filter %}
    {% block content %}{% endblock %}
</body>
<!-- start of the footer area  -->
<div class="footer">

</div>
<!-- end of the footer area -->

</html>

